<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:consumer check="false" retries="0" />
	
	<!-- 扫描注解包路径，多个包用逗号分隔，不填pacakge表示扫描当前ApplicationContext中所有的类 -->
    <dubbo:annotation package= "com.arvatosystems.eos.lib.config.service.impl,
                                com.arvatosystems.eos.lib.security.service.impl,
                                com.arvatosystems.eos.lib.i18n.service.impl" />
	

	<!-- demo start -->
	<dubbo:service interface="com.arvatosystems.demo.service.api.IUserService" ref="userServiceImpl" timeout="3000" />
	
	<!-- demo end -->


</beans>